# Firebase Configuration
# Obter em: Firebase Console > Project Settings > Web App
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=pdocsend.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pdocsend
VITE_FIREBASE_STORAGE_BUCKET=pdocsend.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
